*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1410px;
    padding: 0 15px;
    width: 100%;
}


/* HEADER */
.main-header {
    width: 100%;
    background-color: black;
    padding: 5px 0;
    text-align: center;
}

.main-header__title {
    font-size: 73px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
}


/* NAVIGATION */
.navigation-section__navigation {
    padding: 24px 0;
}

.navigation-section__path {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navigation-section__page {
    position: relative;
    color: #3f66f3;
}

.navigation-section__page::after {
    content: '/';
    position: absolute;
    right: 11%;
    top: 13%;
}

.navigation-section__page:nth-child(3n):after {
    content: '/';
    position: absolute;
    right: 6%;
    top: 13%;
}

.navigation-section__page:last-child:after {
    content: '';
}

.navigation-section__link-page {
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: #3f66f3;
    margin-right: 18px;
    transition: .3s color linear;
}

.navigation-section__page:last-child
.navigation-section__link-page {
    color: #000000;
}

.navigation-section__link-page:hover {
    color: #052183; 
}

.navigation-section__back-path-arrow {
    width: 9px;
    display: flex;
    align-items: center;
}

.navigation-section__back-path-arrow path {
    fill: #3f66f3;
    transition: .3s fill linear;
}

.navigation-section__back-link-path {
    display: none;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    margin-left: 14px;
    cursor: pointer;
}

.navigation-section__back-path-title {
    font-size: 15px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: #3f66f3;
    transition: .3s color linear;
}

.navigation-section__back-link-path:hover 
.navigation-section__back-path-title {
    color: #052183;
}

.navigation-section__back-link-path:hover path {
    fill: #052183;
}


/* CATALOG */
.catalog {
    padding-bottom: 51px;
}

.catalog__wrapper {
    display: flex;
    justify-content: flex-start;
}

.catalog__title {
    font-size: 36px;
    font-weight: 100;
    line-height: 33px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    margin-bottom: 48px;
}

.catalog__filters-button {
    display: none;
    width: 290px;
    text-align: center;
    background-color:#77a2ac;
    border-radius: 5px;
    padding: 4px;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin-bottom: 21px;
    cursor: pointer;
    transition: .3s background-color linear;
}

.catalog__filters-button:hover {
    background-color: #1588a1;
}

.filters-modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.filters-modal-content {
    position: relative;
    background-color: #77a2ac;
    margin: auto;
    padding: 5px;
    border: 2px solid #1588a1;
    width: 50%;
}

.filters-modal-close {
    width: 15px;
    margin-left: auto;
    cursor: pointer;
}

.filters-modal-close:hover path {
    fill: #262727
}

.filters-modal-close path {
    fill: #4d4e4e;
    transition: .3s fill linear;
}

.catalog__filters {
    max-width: 300px;
    width: 100%;
    padding-right: 50px;
}

.catalog__list-wrapper {
    max-width: 1020px;
}

.catalog__list-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1015px; */
    width: 100%;
    padding: 13px 19px 13px 12px;
    border-radius: 5px;
    background-color: #bdbbbb;
    margin-bottom: 30px;
}

.catalog__viewing {
    font-size: 19px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

.catalog__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* max-width: 1015px; */
    width: 100%;
}


/* DEPARTMENT */
.department {
    margin-bottom: 26px;
}

.department__title {
    font-size: 19px;
    font-weight: 600;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    margin-bottom: 10px;
}

.department__list {
    list-style-type: none;
}

.department__item {
    margin-bottom: 15px;
}

.department__link {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: #3f66f3;
    transition: .3s color linear;
}

.department__link:hover {
    color: #052183;
}


/* BRAND */
.brand__title {
    font-size: 19px;
    font-weight: 600;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    margin-bottom: 11px;
}

.brand__list {
    list-style-type: none;
}

.brand__item {
    padding-left: 29px;
    margin-bottom: 16px;
    cursor: pointer;
}

.brand__label {
    position: relative;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    cursor: pointer;
}

.brand__label::before {
    position: absolute;
    top: 13%;
    left: -30px;
    content: '';
    width: 14px;
    height: 14px;
    border: 1px solid #000000;
}

.brand__checkbox::after {
    position: absolute;
    display: none;
    top: 35%;
    left: -27px;
    content: '';
    width: 7px;
    height: 7px;
    background-color: #052183;
}

.brand__checkbox {
    position: absolute;
    top: 35%;
    left: 1%;
    width: 0;
    height: 0;
}

.brand__checkbox:checked::after {
    display: block;
}


/* SORT */
.sort {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort__dropdown {
    display: none;
    position: absolute;
    width: 202px;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px 30px;
    background-color:#fff;
    top: 100%;
    left: 19%;
}

.sort__dropdown-content {
    list-style-type: none;
}

.sort__dropdown-item {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    cursor: pointer;
    transition: .3s color linear;
}

.sort__dropdown-item:hover {
    color: #635f5f;
}

.sort__title {
    font-size: 19px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    margin-right: 10px;
}

.sort__select-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    padding: 6px 16px 6px 12px;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: transparent;
}

.sort__select-title {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

.sort__select-arrow {
    width: 14px;
    cursor: pointer;
    transition: .3s transform linear;
}

.sort__select-arrow._open {
    transform: rotate(180deg);
}




/* PRODUCT */
.product {
    max-width: 253px;
    width: 100%;
    border-right: 1px solid #858484;
    border-bottom: 1px solid #858484;
    padding: 22px 15px 30px;
}

.product__image {
    display: block;
    margin: 0 auto 40px;
}

.product__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    font-family: 'Open Sans', sans-serif;
    color:#000000;
    margin-bottom: 11px;
}

.product:nth-child(2n) .product__title {
    margin-bottom: 6px;
}

.product:nth-child(2n) {
    border-right: none;
    margin-right: 4px;
}

.product__cost-range {
    font-size: 21px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color:#747373;
    margin-bottom: 91px;
}

.product__previous-cost {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color:#747373;
    text-decoration: line-through;
    margin-bottom: 3px;
}

.product__current-cost {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color:#000000;
    margin-bottom: 2px;
}

.product__sale-range {
    max-width: 150px;
    width: 100%;
    font-size: 21px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color:#f80909;
    margin-bottom: 14px;
}

.product__sale-range span {
    text-transform: uppercase;
    font-size: 18px;
}

.product__grade {
    display: flex;
    justify-content: flex-start;
}

.product__star-wrapper {
    display: flex;
    justify-content: flex-start;
}

.product__star {
    width: 23px;
    margin-right: 1px;
    cursor: pointer;
}

.product__start-count {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color:#052183;
    margin-left: 7px;
}


/* FOOTER */
.main-footer {
    padding: 330px 0;
    background-color: #000000;
}

.main-footer__title {
    text-align: center;
    font-size: 73px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width : 1350px) {
    .catalog__list-wrapper {
        max-width: 765px;
    }

    .product {
        border-right: 1px solid #858484;
    }

    .product:nth-child(3n) {
        border-right: none;
    }

    .product:nth-child(2n) {
        border-right: 1px solid #858484;
        margin-right: 0;
    }
}

@media (max-width : 1100px) {
    .catalog__list-wrapper {
        max-width: 510px;
    }

    .product:nth-child(2n) {
        border-right: none;
        margin-right: 0;
    }

    .product:nth-child(3n) {
        border-right: 1px solid #858484;
    }
}

@media (max-width : 845px) {
    .catalog__list-wrapper {
        max-width: 255px;
    }

    .sort__select-type {
        width: 150px
    }

    .sort__dropdown {
        width: 152px;
        left: 24%;
    }

    .product:nth-child(3n) {
        border-right: none;
    }

    .product {
        border-right: none;
    }

    .catalog__viewing {
        margin-bottom: 5px;
    }

    .navigation-section__path {
        display: none;
    }

    .navigation-section__back-link-path {
        display: flex;
        margin-left: 0;
    }
}

@media (max-width : 430px) {
    .main-header {
        padding: 0;
    }

    .main-header__title {
        font-size: 30px;
        line-height: 34px;
    }

    .navigation-section__navigation {
        padding: 8px 0;
        margin-bottom: 3px;
    }

    .navigation-section__back-link-path {
        display: flex;
        margin-left: 14px;
    }

    .catalog__title {
        font-size: 27px;
        letter-spacing: 1px;
        margin-bottom: 19px;
        margin-left: 12px;
    }

    .department {
        display: none;
    }

    .brand {
        display: none;
    }

    .catalog__filters-button {
        display: block;
    }

    .catalog__filters {
        padding-right: 0;
        margin-left: 13px;
    }

    .department._modal {
        display: block;
    }

    .brand._modal {
        display: block;
    }

    .catalog__wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .sort__title {
        font-size: 16px;
    }

    .sort__select-type {
        width: 109px;
        padding: 7px 16px 6px 10px;
    }

    .sort__dropdown {
        width: 111px;
        left: 27%;
    }

    .sort__select-title {
        font-size: 13px;
    }

    .catalog__viewing {
        font-size: 15px;
        margin-bottom: 0;
    }

    .catalog__wrapper .container {
        max-width: 320px;
        padding: 0 ;
    }

    .catalog__list-header {
        width: 320px;
        padding: 13px 16px 13px 12px;
        margin-bottom: 0;
    }

    .catalog__list-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 320px;
    }

    .container {
        margin: 0 auto;
        max-width: 320px;
        width: 100%;
        padding: 0;
    }

    .product {
        padding: 15px 13px 21px;
        display: flex;
        justify-content: space-between;
        max-width: 320px;
    }

    .product__image {
        width: 102px;
        height: 102px;
        margin: 0;
        margin-right: 13px;
    }

    .product__title {
        line-height: 21px;
    }

    .product__sale-range {
        line-height: 22px;
        margin-bottom: 19px;
    }

    .product__cost-range {
        margin-bottom: 0;
        line-height: 22px;
        margin-bottom: 17px;
    }

    .product:nth-child(2n) .product__title {
        margin-bottom: 11px;
    }

    .product:last-child {
        margin-bottom: 15px;
    }

    .main-footer__title {
        font-size: 31px;
    }

    .main-footer {
        padding: 130px 0;
    }
}