*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1410px;
    padding: 0 15px;
    width: 100%;
}


/* HEADER */
.main-header {
    width: 100%;
    background-color: black;
    padding: 5px 0;
    text-align: center;
}

.main-header__title {
    font-size: 73px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
}


/* NAVIGATION */
.navigation-section__navigation {
    padding: 24px 0;
}

.navigation-section__path {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navigation-section__page {
    position: relative;
    color: #3f66f3;
}

.navigation-section__page:not(:last-child):after {
    content: '/';
    position: absolute;
    right: 8%;
    top: 3%;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #3f66f3;
}

.navigation-section__link-page {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #3f66f3;
    margin-right: 18px;
    transition: .3s color linear;
}

.navigation-section__page:last-child
.navigation-section__link-page {
    color: #000000;
}

.navigation-section__link-page:hover {
    color: #052183; 
}

.navigation-section__back-path-arrow {
    width: 5px;
    display: flex;
    align-items: center;
    margin-right: 5px;
    transform: rotate(180deg);
}

.navigation-section__back-path-arrow svg {
    fill: #3f66f3;
    transition: .3s fill linear;
}

.navigation-section__back-link-path {
    display: none;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    margin-left: 14px;
    cursor: pointer;
}

.navigation-section__back-path-title {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #3f66f3;
    transition: .3s color linear;
}

.navigation-section__back-link-path:hover 
.navigation-section__back-path-title {
    color: #052183;
}

.navigation-section__back-link-path:hover path {
    fill: #052183;
}


/* CATALOG */
.catalog {
    padding-bottom: 51px;
}

.catalog__wrapper {
    display: flex;
    justify-content: flex-start;
}

.catalog__title {
    font-size: 36px;
    font-weight: 100;
    line-height: 33px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    margin-bottom: 48px;
}

.catalog__filters-button {
    display: none;
    width: 290px;
    text-align: center;
    background-color:#0e4084;
    border-radius: 5px;
    padding: 4px;
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin-bottom: 21px;
    border: transparent;
    cursor: pointer;
    transition: .3s background-color linear;
}

.catalog__filters-button:hover {
    background-color: #1588a1;
}

.filters-modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.filters-modal--open {
    display: block;
}

.filters-modal-content {
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 20px;
    width: 100%;
    height: 70%;
}

.filters-modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.filters-modal__title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

.filters-modal-close {
    background-color: transparent;
    border: 2px solid transparent;
    padding: 5px;
    cursor: pointer;
}

.filters-modal-close:focus {
    border: 2px solid black;
}

.filters-modal-close:hover path {
    fill: #262727
}

.filters-modal-close svg {
    width: 15px;
}

.filters-modal-close path {
    fill: #4d4e4e;
    transition: .3s fill linear;
}

.catalog__filters {
    max-width: 300px;
    width: 100%;
    padding-right: 50px;
}

.catalog__list-wrapper {
    max-width: 1020px;
}

.catalog__list-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1015px; */
    width: 100%;
    padding: 13px 19px 13px 14px;
    border-radius: 5px;
    background-color: #f7f7f7;
    margin-bottom: 30px;
}

.catalog__viewing {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

.catalog__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* max-width: 1015px; */
    width: 100%;
}

/* filter-property */
.filter-property:not(last-child) {
    margin-bottom: 26px;
}

.filter-property__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    margin-bottom: 10px;
}

.filter-property__list {
    list-style-type: none;
}

.filter-property__item {
    margin-bottom: 15px;
}

.filter-property__item--checkbox-padding {
    padding-left: 29px;
}

.filter-property__link {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    color: #3f66f3;
    transition: .3s color linear;
}

.filter-property__link:hover {
    color: #052183;
}

.filter-property__link--not-decor {
    text-decoration: none;
}


/* checkbox */
.checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox__input {
    width: 16px;
    height: 20px;
    margin-right: 12px;
}

.checkbox__label-name {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    cursor: pointer;
}


/* SORT */
.sort {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sort__title {
    font-size: 19px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    margin-right: 10px;
}

.sort__select-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    padding: 6px 16px 6px 12px;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    cursor: pointer;
}




/* PRODUCT */
.product {
    max-width: 253px;
    width: 100%;
    border-right: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    padding: 22px 15px 30px;
}

.product__image {
    display: block;
    margin: 0 auto 40px;
}

.product__link {
    text-decoration: none;
}

.product__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    font-family: 'Open Sans', sans-serif;
    color:#000000;
    margin-bottom: 11px;
}

.product:nth-child(2n) .product__title {
    margin-bottom: 6px;
}

.product:nth-child(2n) {
    border-right: none;
    margin-right: 4px;
}

.product__price {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 3px;
}

.product__price--range {
    font-size: 21px;
    color:#747373;
    margin-bottom: 91px;
}

.product__price--previous {
    font-weight: 300;
    color:#747373;
    text-decoration: line-through;
}

.product__price--current {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color:#000000;
}

.product__price--sale-range {
    max-width: 150px;
    width: 100%;
    font-size: 21px;
    color:#f80909;
    margin-bottom: 14px;
}

.product__price.product__price--sale-range span {
    text-transform: uppercase;
    font-size: 18px;
}

.product__grade {
    display: flex;
    justify-content: flex-start;
}

.product__star-wrapper {
    display: flex;
    justify-content: flex-start;
}

.product__star {
    width: 23px;
    margin-right: 1px;
}

.product__link-review {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color:#052183;
    margin-left: 7px;
    cursor: pointer;
    text-decoration: none;
}


/* FOOTER */
.main-footer {
    padding: 330px 0;
    background-color: #000000;
}

.main-footer__title {
    text-align: center;
    font-size: 73px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width : 1350px) {
    .catalog__list-wrapper {
        max-width: 765px;
    }

    .product {
        border-right: 2px solid #eeeeee;
    }

    .product:nth-child(3n) {
        border-right: none;
    }

    .product:nth-child(2n) {
        border-right: 2px solid #eeeeee;
        margin-right: 0;
    }
}

@media (max-width : 1100px) {
    .catalog__list-wrapper {
        max-width: 510px;
    }

    .product:nth-child(2n) {
        border-right: none;
        margin-right: 0;
    }

    .product:nth-child(3n) {
        border-right: 2px solid #eeeeee;
    }
}

@media (max-width : 845px) {
    .catalog__viewing {
        margin-bottom: 5px;
    }

    .navigation-section__path {
        display: none;
    }

    .navigation-section__back-link-path {
        display: flex;
        margin-left: 0;
    }

    .filter-property {
        display: none;
    }

    .catalog__filters-button {
        display: block;
    }

    .catalog__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .filter-property.filter-property--modal {
        display: block;
    }
}

@media (max-width : 550px) {
    .main-header {
        padding: 0;
    }

    .main-header__title {
        font-size: 30px;
        line-height: 34px;
    }

    .catalog__list-wrapper {
        max-width: 255px;
    }

    .sort__select-type {
        width: 150px
    }

    .product:nth-child(3n) {
        border-right: none;
    }

    .product {
        border-right: none;
    }

    .navigation-section__navigation {
        padding: 8px 0;
        margin-bottom: 3px;
    }

    .navigation-section__back-link-path {
        display: flex;
        margin-left: 14px;
    }

    .catalog__title {
        font-size: 27px;
        letter-spacing: 1px;
        margin-bottom: 19px;
        margin-left: 12px;
    }

    .catalog__filters {
        padding-right: 0;
        margin-left: 13px;
    }

    .sort__title {
        font-size: 16px;
    }

    .sort__select-type {
        width: 109px;
        padding: 7px 16px 6px 10px;
    }

    .sort__select-title {
        font-size: 13px;
    }

    .catalog__viewing {
        font-size: 15px;
        margin-bottom: 0;
    }

    .catalog__wrapper .container {
        max-width: 320px;
        padding: 0 ;
    }

    .catalog__list-header {
        width: 320px;
        padding: 13px 16px 13px 14px;
        margin-bottom: 0;
    }

    .catalog__list-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 320px;
    }

    .container {
        margin: 0 auto;
        max-width: 320px;
        width: 100%;
        padding: 0;
    }

    .product {
        padding: 15px 13px 21px;
        display: flex;
        justify-content: space-between;
        max-width: 320px;
    }

    .product__image {
        width: 102px;
        height: 102px;
        margin: 0;
        margin-right: 13px;
    }

    .product__title {
        line-height: 21px;
    }

    .product__sale-range {
        line-height: 22px;
        margin-bottom: 19px;
    }

    .product__cost-range {
        margin-bottom: 0;
        line-height: 22px;
        margin-bottom: 17px;
    }

    .product:nth-child(2n) .product__title {
        margin-bottom: 11px;
    }

    .product:last-child {
        margin-bottom: 15px;
    }

    .main-footer__title {
        font-size: 31px;
    }

    .main-footer {
        padding: 130px 0;
    }
}